#root {
  text-align: center;
}

.cell {
  user-select: none;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 0.2rem;
  background: rgba(255, 255, 255, 0.1);
}
.panel {
  user-select: none;
  padding-block: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  border-radius: 0.2rem;
  background: rgba(255, 255, 255, 0.1);
}

@media screen and (max-width: 600px) {
  #root {
    padding: 1rem;
  }
}
