#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

main {
  display: grid;
  place-items: center;
  grid-template-columns: repeat();
}

.board {
  display: grid;
  place-items: center;
  gap: 0.2rem;
  grid-template-columns: repeat(20, 1fr);
}
.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1rem;
  padding: 0.5rem;
  aspect-ratio: 1/1;
  border-radius: 0.2rem;
  background: rgba(255, 255, 255, 0.1);
}

@media screen and (max-width: 600px) {
  #root {
    padding: 1rem;
  }
}
